body {
	font-family: sans-serif;
	background: url('/assets/BG.jpg');
	text-align: center;
}
h1 {
	text-align: center;
}
ul {
	list-style: none;
	li {
		font-size: 18px;
		font-weight: normal;
		padding: 5px;
		transition: all 0.2s;
	}
}
li.matched {
	font-weight: bold;
	opacity: 1;
	margin: 2px 0px;
	box-shadow: 0px 1px 1px gray;
}

#game {
	min-width: 700px;
	max-width: 950px;
	margin: 50px auto;
	#match-list {
		display: inline-block;
		float: left;
		.matched {
			background: #33f33f; /* Old browsers */
		}
	}

	#middle {
		display: inline-block;

		#regex-input {
			border-radius: 10px;
			outline: none;
			min-width: 300px;
			max-width: 500px;
			width: 75%;
			padding: 5px 10px;
			font-size: 20px;
			border: none;
			box-shadow: 0px 1px 10px gray;
			text-align: center;
			margin: 10px auto;
		}
		#title {
			font-family: serif;
			font-weight: normal;
			font-size: 49px;
			margin: 0px auto;
			margin-bottom: 20px;
			letter-spacing: 0px;
			margin-top: 100px;
		}
		#buttons > .button {
			color: white;
			padding: 10px;
			background: rgba(0,0,0,0.5);
			border-radius: 10px;
			width: 80px;
			margin: 10px 5px;
			display: inline-block;
			cursor: pointer;

			&.inactive {
				opacity: 0.5;
				cursor: default;
			}
		}
		#info {
			font-size: 20px;
			height: 25px;
			#round { float: left;}
			#total { float: right;}
		}
		#score {
			font-size: 28px;
			display: inline-block;
			margin-left: 5px;
		}
		#loader {
			display: block;
			text-align: center;
		}
	}

	#reject-list {
		display: inline-block;
		float: right;
		.matched {
			background: #ff3333; /* Old browsers */
		}
	}
}
.unmatched {
	background: rgba(0,0,0,0.1);
}
.salient-white {
	color: white;
	text-shadow: 0px 1px 1px gray;
}